@media (min-width: 981px) {
  #infomodal {
    font-size: 70%;
  }
}

@media (max-width: 980px) {
  #infomodal {
    font-size: 40%;
  }
}

body .container{
  padding-bottom: 80px;
}

body .container .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  font-size: 80%;
}

table {
  table-layout: fixed;
}

legend {
  padding-top: 10px;
  padding-bottom: 20px;
}