[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/glyphicons-halflings.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("/glyphicons-halflings-white.png");
}

@media (min-width: 981px) {
  #infomodal {
    width: 80%;
    left: 10%;
    font-size: 100%;
    margin-left: auto;
    margin-right: auto; 
  }
}

@media (max-width: 979px) {
  #infomodal {
    width: 92%;
    left: 4%;
    font-size: 45%;
    margin-left: auto;
    margin-right: auto; 
  }
}

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  padding-bottom: 120px; /* Prevent dropdown hide on end of page */
}
pre {
  font-size: 80%;
}

div.bt-download {
  .border-radius( 0px );
}
