@media (min-width: 981px) {
  #infomodal {
    width: 80%;
    left: 10%;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto; 
  }
}

@media (max-width: 979px) {
  #infomodal {
    width: 92%;
    left: 4%;
    font-size: 45%;
    margin-left: auto;
    margin-right: auto; 
  }
}

body .container{
  padding-bottom: 60px;
}

body .container .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  font-size: 80%;
}

table {
  table-layout: fixed;
}