%legend Certificate Signing Requests Awaiting Signature        
%table.table.table-striped.table-hover
  %thead
    %tr
      %td #
      %td Common Name
      %td
  %tbody
    - @certificates.each do |crt|
      %tr
        %td 
          = crt.id
        %td 
          = crt.cn
        %td 
          / %form{ :action => "/admin/csr/#{csr.id}", :method => 'POST' }
          /   %a.btn.btn-primary{ href: "/admin/csr/#{csr.id}/sign" }
          /     %i.icon-white.icon-lock
          /     Sign
          /   %input{ type: 'hidden', name: '_method', value: 'DELETE' } 
          /   %button.btn.btn-danger{ :type => 'submit' }
          /     %i.icon-white.icon-remove
          /     Delete