%h2 Change key password
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
  %tbody
    %tr
      %td 
        = @crt.cn

%form#csr.form-horizontal{ action: "/admin/certificates/#{@crt.cn}/chpwd", method: 'post' }
  %fieldset
    %legend Enter key Passphrase
    .form-group
      %label{ for: 'current_password' } Current password
      %input.form-control#current_password{ name: 'passphrase[current]', type: 'password', placeholder: '' }
    .form-group
      %label{ for: 'passphrase' } New password
      .input-group
        %input.form-control#passphrase{ name: 'passphrase[new]', type: 'password', autocomplete: 'off', placeholder: '' }
        .input-group-append
          %span.input-group-text.show-pass{ title: 'Show password', 'data-toggle' => 'tooltip'}
            %i.fas.fa-eye#show_eye
          %a.btn.btn-dark#genpw{ title: 'Generate random password', 'data-toggle' => 'tooltip' }
            %i.fas.fa-cogs
            %span.d-none.d-md-inline Generate

    .form-group
      %label{ for: 'passphrase-confirm' } Confirm password
      .input-group
        %input.form-control#passphrase-confirm{ name: 'passphrase[confirm]', type: 'password', autocomplete: 'off', placeholder: '' }
        .input-group-append
          %span.input-group-text.show-pass{ title: 'Show password', 'data-toggle' => 'tooltip' }
            %i.fas.fa-eye
      
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Change Password