%h2 Change key password
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
  %tbody
    %tr
      %td 
        = @crt.cn

%form#csr.form-horizontal{ action: "/admin/certificates/#{@crt.cn}/chpwd", method: 'post' }
  %fieldset
    %legend Enter key Passphrase
    .form-group
      %label{ for: 'current_password' } Current password
      %input.form-control#current{ name: 'passphrase[current]', type: 'password', placeholder: '' }
      %label{ for: 'new_password' } New password
      %input.form-control#current{ name: 'passphrase[new]', type: 'password', placeholder: '' }
      %label{ for: 'confirm' } Confirm password
      %input.form-control#current{ name: 'passphrase[confirm]', type: 'password', placeholder: '' }
      
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Change Password