%h2 Settings
.row
  .col-md-6.col-xs-12
    %legend Authentication
    %form#config_auth{ action: "/admin/config", method: 'post' }
      %fieldset
        %input{type: "hidden", value: "1", name: "authcfg[auth]"} 
        .form-group
          %label{ for: 'username' } Username
          %input.form-control#username{ name: 'authcfg[username]', type: 'text', placeholder: @authcfg.nil? || @authcfg["username"].nil? ? 'prefer not admin, root etc' : 'Username already created' }
        .form-group
          %label{ for: 'authcfg[password]' } Password
          %input.form-control#password{ name:'authcfg[password]', type:'password', placeholder:  @authcfg.nil? || @authcfg["password"].nil? ? '' : 'Password already created'}
        .form-group
          %label{ for: 'authcfg[confirm_password]' } Confirm Password
          %input.form-control#confirm_password{ name:'authcfg[confirm_password]', type:'password'}
          
        .form-group
          .form-check
            %label.form-check-label{ for: "enable" }
            %input.form-check-input#enable{ type: 'checkbox', name: 'authcfg[enable]', value: 1, checked: @authcfg.nil? ? false : @authcfg["enable"] } Enable authentication
          %button.btn.btn-primary{ type: 'submit' } Set

  .col-md-6.col-xs-12
    %legend Allowed IPs
    
    %form#config_add_myip{ action: "/admin/config", method: 'post' }
      .form-group
        .input-group
          %input{type: "hidden", value: "1", name: "authcfg[allow_ip]"} 
          %input.form-control{type: "text", name: 'authcfg[ip]', value: "#{@my_ip}", placeholder: "#{@my_ip}", readonly: "true"}
          %span.input-group-btn
            %button.btn.btn-primary{ type: 'submit' } Add my IP
    
    %form#config_add_ip{ action: "/admin/config", method: 'post' }
      .form-group
        .input-group
          %input{type: "hidden", value: "1", name: "authcfg[allow_ip]"} 
          %input.form-control#allowip{ name: 'authcfg[ip]', type: 'text', placeholder: 'ipv4 or ipv6 network or ipaddress', |
            'title' => 'e.g. 192.168.0.122 10.0.0.0/24 fdf8:e6f6:68cd::/48 fdfd:590e:52b2::1', 'data-toggle' => 'tooltip'}
            
          %span.input-group-btn
            %button.btn.btn-primary{ type: 'submit' } Add
    
    %form#config_rm_ips{ action: "/admin/config", method: 'post' }      
      .form-group
        %input{type: "hidden", value: "1", name: "authcfg[disallow_ips]"} 
        %select.form-control#allowed_ips{ multiple: "true", name: "authcfg[ips][]" }
          -@allowed_ips.each do |ip|
            %option{ value: "#{ip}" } #{ip}
      %button.btn.btn-primary#remove_ip{ type: 'submit' } Remove Selected