%h2 CRL
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Issuer Common Name
      %th Last Update (UTC)
      %th Next Update (UTC)
      %th
  %tbody
    %tr
      %td
        = @crl_info[:issuer]["CN"]
      %td
        = @crl_info[:last_update].strftime("%d/%m/%y %H:%M:%S")
      %td
        = @crl_info[:next_update].strftime("%d/%m/%y %H:%M:%S")  
      %td.pull-right
        .btn-group
          %a.btn.btn-sm.btn-info{ href: "/admin/crl/info", "data-get"=>"modal",  "data-title" => "CRL Info"}
            %i.fa.fa-info-circle
            %span.hidden-sm-down Info
          %a.btn.btn-sm.btn-primary{ :href => "/ca.crl"}
            %i.fa.fa-download
            %span.hidden-sm-down Download 
          - if @crl_info[:expired]
            %a.btn.btn-sm.btn-warning{ :href => "/admin/crl/renew"}
              %i.fa.fa-refresh
              %span.hidden-sm-down Renew
