%h2 Renew CRL
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Issuer Common Name
      %th Expired On (UTC)
  %tbody
    %tr
      %td 
        = @crl_info[:issuer]['CN']
      %td
        = @crl_info[:next_update].strftime('%d/%m/%Y %H:%M:%S')  

%form#csr.form-horizontal{ action: '/admin/crl/renew', method: 'post' }
  %fieldset
    %legend Enter Passphrase
    .form-group
      %label{ for: 'intermediate' } Intermediate CA Key
      %input.form-control#intermediate{ name: 'passphrase[intermediate]', type: 'password', placeholder: '' }
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Renew CRL        
