%h2 Download
%p Use the link below to download.
.container
%p
  - if @download_url
    %a.btn.btn-primary{id: "download", href: "#{@download_url}"}
      %i.fas.fa-download
      %span.d-none.d-md-inline Download
  - else
    %p Nothing to Download.
    %a.btn.btn-info{ :href => "/"}
      %i.fas.fa-download
      %span.d-none.d-md-inline Home