!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title RubyCA
    %link{:href => "/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "/bootstrap-responsive.min.css", :rel => "stylesheet"}
    %link{:href => "/rubyca.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{ href: '/admin' } RubyCA
          %ul.nav
            %li
              %a{ href: '/admin/certificates' } Certificates
            %li
              %a{ href: '/admin/csrs' } Signing Requests
    .container
      = yield
  %script{:src => "/bootstrap.min.js"}