!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{name: "viewport", content: "width=device-width", "initial-scale" => "1", "shrink-to-fit" => "no"}
    %title RubyCA
    %link{ href: '/tether/css/tether.min.css', rel: 'stylesheet' }
    %link{ href: '/bootstrap/css/bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: '/font-awesome/css/font-awesome.min.css', rel: 'stylesheet' }
    %link{ href: '/rubyca.css', rel: 'stylesheet' }
    
  %body
    %header
      %nav.navbar.navbar-inverse.bg-inverse.navbar-toggleable-md.bg-faded
        .container
          %button.navbar-toggler.navbar-toggler-right{type: "button", "data-toggle"=>"collapse", "data-target" => "#rubyca-navbar", |
            "aria-controls" => "rubyca-navbar", "aria-expanded" => "false", "aria-label"=>"Toggle navigation"}
            %span.navbar-toggler-icon
          
          %a.navbar-brand{ href: '/admin' } RubyCA

          .collapse.navbar-collapse{id: "rubyca-navbar" }
            %ul.navbar-nav.mr-auto
              %li.nav-item
                %a.nav-link{ href: '/admin/certificates' } Certificates
              %li.nav-item
                %a.nav-link{ href: '/admin/csrs' } Signing Requests
              %li.nav-item
                %a.nav-link{ href: '/admin/crl' } CRL
              %li.nav-item
                %a.nav-link{ href: '/admin/config' } Settings
    %section
      .container
        =styled_flash
        = yield
        
  %script{ src: '/jquery/jquery-3.1.1.min.js' }
  %script{ src: '/tether/js/tether.min.js' }'
  %script{ src: '/bootstrap/js/bootstrap.min.js' }'
  %script{ src: '/rubyca.js' }'