%h2 Revoke Certificate
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
  %tbody
    %tr
      %td 
        = @crt.cn

%form#csr.form-horizontal{ action: "/admin/certificates/#{@crt.cn}/revoke", method: 'post' }
  %fieldset
    %legend Enter Intermediate Passphrase to Revoke Certificate
    .form-group
      %label{ for: 'intermediate' } Intermediate CA Key
      %input.form-control#intermediate{ name: 'passphrase[intermediate]', type: 'password', placeholder: '' }
    .form-group
      %input{ type: 'hidden', name: '_method', value: 'DELETE' } 
      %button.btn.btn-danger{ :type => 'submit' }
        %i.fa.fa-remove
        Revoke