%h2 Unencrypted Private Key
%legend Selected Certificate
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
  %tbody
    %tr
      %td 
        = @crt.cn

%form#decrypt_rsa.form-horizontal{ action: "/admin/certificates/decrypted/#{@crt.cn}.pem", method: 'post' }
  %fieldset
    %legend Enter Passphrase
    .form-group
      %label{ for: 'certificate' } Certificate Key
      %input.form-control#certificate{ name: 'passphrase[certificate]', type: 'password', placeholder: '' }
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Get Key