%h2 Setup
%legend Admin Authentication
%form#csr.form-horizontal{ action: "/admin/setup", method: 'post' }
  %fieldset    
    .form-group
      %label{ for: 'username' } Username
      %input.form-control#username{ name: 'authcfg[username]', type: 'text', placeholder: @authcfg.nil? || @authcfg["username"].nil? ? 'prefer not admin, root etc' : 'Username already created' }
    .form-group
      %label{ for: 'authcfg[password]' } Password
      %input.form-control#password{ name:'authcfg[password]', type:'password', placeholder:  @authcfg.nil? || @authcfg["password"].nil? ? '' : 'Password already created'}
    .form-group
      .form-check
        %label.form-check-label{ for: "enable" }
        %input.form-check-input#enable{ type: 'checkbox', name: 'authcfg[enable]', value: 1, checked: @authcfg.nil? ? false : @authcfg["enable"] } Enable authentication
      %button.btn.btn-primary{ type: 'submit' } Save