*.pem
*.crt
core/ca/last_serial
tmp/*
log/*
*.db
*-bak.*
core/web/public/tmp
private
config/rubyca.yml
config/thin.yml
config/puma.rb
config/rubyca-puma.service
.rbenv-gemsets
.ruby-version
Gemfile.lock

.DS_Store
._*
.AppleDouble
