# Configuration for the web UI
web:
  domain: 'localhost' # The domain name to use
  interface: 'localhost' # The interface to bind the web server to, use '0.0.0.0' for all interfaces
  port: 8083 # The port the web server will run on
  admin: 
    allowed_ips: [ '192.168.0.1', '127.0.0.1' ] # Comma separated list of IP addresses that are allowed to access the web admin
    auth:
      enable: false # true require setup user and password on http://<server>:<port>/admin/setup. 
                    # false permit only allowed_ips without  authentication pass.


# Configuration relating to certificate authority
ca:
  root:
    country: 'GB'
    state: 'My State'
    locality: 'My Locality'
    organisation: "My Root CA"
    cn: "My Root Certificate Authority"
    years: 20
  intermediate:
    country: 'GB'
    state: 'My State'
    locality: 'My Locality'
    organisation: "My Intermediate CA"
    cn: "My Intermediate Certificate Authority"
    years: 20

  certificate:
    default_expiration: 5 # Number of years certificates will be valid

  crl:
    default_expiration: 30 # Number of days crl will be valid
    dist:
      uri:
       #- 'http://www.example.com/ca.crl' # e.g.

#used only for RubyCA module
privileges:
#  user: user
#  group: group

