[Unit]
Description=Thin Bootup
Requires=network.target
 
[Service]
Type=forking
Environment=RACK_ENV=production
ExecStart=/bin/bash -lc '/home/user/.rvm/bin/bootup_thin start --all /etc/thin'
TimeoutSec=30
RestartSec=15s
Restart=always
 
[Install]
WantedBy=multi-user.target
