%form#csr.form-horizontal{ action: '/sign', method: 'post' }
  %fieldset
    %legend Certificate Signing Request
    .control-group
      %label.control-label{ for: 'cn' } Common Name
      .controls
        %input#cn{ name: 'csr[cn]', type: 'text', placeholder: 'e.g. www.acme.com' }
    .control-group
      %label.control-label{ for: 'o' } Organisation
      .controls
        %input#o{ name: 'csr[o]', type: 'text', placeholder: 'e.g. ACME Ltd' }
    .control-group
      %label.control-label{ for: 'l' } Locality
      .controls
        %input#l{ name: 'csr[l]', type: 'text', placeholder: 'e.g. Birmingham' }
    .control-group
      %label.control-label{ for: 'st' } State
      .controls
        %input#st{ name: 'csr[st]', type: 'text', placeholder: 'e.g. West Midlands' }
    .control-group
      %label.control-label{ for: 'c' } Country Code
      .controls
        %input#c{ name: 'csr[c]', type: 'text', placeholder: 'e.g. GB' }
    .control-group
      %label.control-label{ for: 'passphrase' } Key Passphrase
      .controls
        %input#passphrase{ name: 'csr[passphrase]', type: 'text', placeholder: 'e.g. password' }
    .control-group
      .controls
        %button.btn{ type: 'submit' } Submit